execution_72.json
{
    "id":  "72",
    "finished":  false,
    "mode":  "webhook",
    "retryOf":  null,
    "retrySuccessId":  null,
    "status":  "error",
    "createdAt":  "2026-04-25T07:05:36.152Z",
    "startedAt":  "2026-04-25T07:05:36.180Z",
    "stoppedAt":  "2026-04-25T07:05:38.775Z",
    "deletedAt":  null,
    "workflowId":  "E0sHFHX850tQffIk",
    "waitTill":  null,
    "storedAt":  "db",
    "data":  {
                 "version":  1,
                 "startData":  {

                               },
                 "resultData":  {
                                    "error":  {
                                                  "level":  "error",
                                                  "tags":  {

                                                           },
                                                  "extra":  {
                                                                "parameterName":  "columns.matchingColumns"
                                                            },
                                                  "message":  "Could not get parameter",
                                                  "stack":  "Error: Could not get parameter\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:477:10)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:136:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Airtable/v2/actions/record/update.operation.ts:64:32)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Airtable/v2/actions/router.ts:32:67)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Airtable/v2/AirtableV2.node.ts:30:23)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1048:32)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1239:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1687:38\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2339:11"
                                              },
                                    "runData":  {
                                                    "Webhook":  [
                                                                    {
                                                                        "startTime":  1777100736213,
                                                                        "executionIndex":  0,
                                                                        "source":  [

                                                                                   ],
                                                                        "hints":  [

                                                                                  ],
                                                                        "executionTime":  0,
                                                                        "executionStatus":  "success",
                                                                        "data":  {
                                                                                     "main":  [
                                                                                                  [
                                                                                                      {
                                                                                                          "json":  {
                                                                                                                       "headers":  "@{host=gmac222.app.n8n.cloud; content-length=516; accept-encoding=gzip, br; cdn-loop=cloudflare; loops=1; subreqs=1; cf-connecting-ip=86.171.167.44; cf-ew-via=15; cf-ipcountry=GB; cf-ray=9f1b80106c23ce7b-LHR; cf-visitor={\"scheme\":\"https\"}; cf-worker=n8n.cloud; content-type=application/json; x-forwarded-for=86.171.167.44, 172.69.224.45; x-forwarded-host=gmac222.app.n8n.cloud; x-forwarded-port=443; x-forwarded-proto=https; x-forwarded-server=traefik-prod-users-gwc-123-57df655446-vnr85; x-is-trusted=yes; x-real-ip=86.171.167.44}",
                                                                                                                       "params":  "",
                                                                                                                       "query":  "",
                                                                                                                       "body":  "@{ref=TEST-55555; submittedAt=2026-04-25T07:05:37.737Z; tripType=return; onewayDir=to; airport=MAN; passengers=4; luggage=4; priceGBP=120.5; customer=; outbound=; return=; notes=Need a child seat for a 4-year-old.; pageUrl=https://example.com/booking}",
                                                                                                                       "webhookUrl":  "https://gmac222.app.n8n.cloud/webhook/3c702483-e68c-428a-8c2c-429cbdf61668",
                                                                                                                       "executionMode":  "production"
                                                                                                                   },
                                                                                                          "pairedItem":  {
                                                                                                                             "item":  0
                                                                                                                         }
                                                                                                      }
                                                                                                  ]
                                                                                              ]
                                                                                 }
                                                                    }
                                                                ],
                                                    "Edit Fields":  [
                                                                        {
                                                                            "startTime":  1777100736213,
                                                                            "executionIndex":  1,
                                                                            "source":  [
                                                                                           {
                                                                                               "previousNode":  "Webhook",
                                                                                               "previousNodeOutput":  0,
                                                                                               "previousNodeRun":  0
                                                                                           }
                                                                                       ],
                                                                            "hints":  [

                                                                                      ],
                                                                            "executionTime":  4,
                                                                            "executionStatus":  "success",
                                                                            "data":  {
                                                                                         "main":  [
                                                                                                      [
                                                                                                          {
                                                                                                              "json":  {
                                                                                                                           "Booking Ref":  "TEST-55555",
                                                                                                                           "Submitted At":  "2026-04-25T07:05:37.737Z",
                                                                                                                           "Trip Type":  "return",
                                                                                                                           "Oneway Direction":  "to",
                                                                                                                           "Airport":  "MAN",
                                                                                                                           "Passengers":  4,
                                                                                                                           "Luggage":  4,
                                                                                                                           "Total Price":  120.5,
                                                                                                                           "Customer Name":  "Sarah Jenkins",
                                                                                                                           "Customer Phone":  "07398233859",
                                                                                                                           "Customer Email":  "sarah.jenkins@example.co.uk",
                                                                                                                           "Home Address":  "45 Penny Lane, Liverpool, L18 1DE",
                                                                                                                           "Outbound Date":  "2026-06-10",
                                                                                                                           "Outbound Time":  "08:15",
                                                                                                                           "Outbound Flight":  "RYR456",
                                                                                                                           "Return Date":  "2026-06-20",
                                                                                                                           "Return Time":  "19:45",
                                                                                                                           "Return Flight":  "RYR457",
                                                                                                                           "Notes":  "Need a child seat for a 4-year-old.",
                                                                                                                           "Page URL":  "https://example.com/booking"
                                                                                                                       },
                                                                                                              "pairedItem":  {
                                                                                                                                 "item":  0
                                                                                                                             }
                                                                                                          }
                                                                                                      ]
                                                                                                  ]
                                                                                     }
                                                                        }
                                                                    ],
                                                    "Airtable":  [
                                                                     {
                                                                         "startTime":  1777100736217,
                                                                         "executionIndex":  2,
                                                                         "source":  [
                                                                                        {
                                                                                            "previousNode":  "Edit Fields",
                                                                                            "previousNodeOutput":  0,
                                                                                            "previousNodeRun":  0
                                                                                        }
                                                                                    ],
                                                                         "hints":  [

                                                                                   ],
                                                                         "executionTime":  692,
                                                                         "executionStatus":  "success",
                                                                         "data":  {
                                                                                      "main":  [
                                                                                                   [
                                                                                                       {
                                                                                                           "json":  {
                                                                                                                        "id":  "rec3gEsoLi3SKiCES",
                                                                                                                        "createdTime":  "2026-04-25T07:05:37.000Z",
                                                                                                                        "fields":  "@{Booking Ref=TEST-55555; Submitted At=2026-04-25T07:05:37.737Z; Trip Type=return; Oneway Direction=to; Airport=MAN; Passengers=4; Luggage=4; Total Price=120.5; Customer Name=Sarah Jenkins; Customer Phone=07398233859; Customer Email=sarah.jenkins@example.co.uk; Home Address=45 Penny Lane, Liverpool, L18 1DE; Outbound Date=2026-06-10; Outbound Time=08:15; Outbound Flight=RYR456; Return Date=2026-06-20; Return Time=19:45; Return Flight=RYR457; Notes=Need a child seat for a 4-year-old.; Page URL=https://example.com/booking}"
                                                                                                                    },
                                                                                                           "pairedItem":  {
                                                                                                                              "item":  0
                                                                                                                          }
                                                                                                       }
                                                                                                   ]
                                                                                               ]
                                                                                  }
                                                                     }
                                                                 ],
                                                    "ClickSend Operator SMS":  [
                                                                                   {
                                                                                       "startTime":  1777100736909,
                                                                                       "executionIndex":  3,
                                                                                       "source":  [
                                                                                                      {
                                                                                                          "previousNode":  "Airtable",
                                                                                                          "previousNodeOutput":  0,
                                                                                                          "previousNodeRun":  0
                                                                                                      }
                                                                                                  ],
                                                                                       "hints":  [

                                                                                                 ],
                                                                                       "executionTime":  961,
                                                                                       "executionStatus":  "success",
                                                                                       "data":  {
                                                                                                    "main":  [
                                                                                                                 [
                                                                                                                     {
                                                                                                                         "json":  {
                                                                                                                                      "http_code":  200,
                                                                                                                                      "response_code":  "SUCCESS",
                                                                                                                                      "response_msg":  "Messages queued for delivery.",
                                                                                                                                      "data":  "@{total_price=0.0428; total_count=1; queued_count=1; messages=System.Object[]; _currency=; blocked_count=0}"
                                                                                                                                  },
                                                                                                                         "pairedItem":  {
                                                                                                                                            "item":  0
                                                                                                                                        }
                                                                                                                     }
                                                                                                                 ]
                                                                                                             ]
                                                                                                }
                                                                                   }
                                                                               ],
                                                    "ClickSend Customer SMS":  [
                                                                                   {
                                                                                       "startTime":  1777100737870,
                                                                                       "executionIndex":  4,
                                                                                       "source":  [
                                                                                                      {
                                                                                                          "previousNode":  "Airtable",
                                                                                                          "previousNodeOutput":  0,
                                                                                                          "previousNodeRun":  0
                                                                                                      }
                                                                                                  ],
                                                                                       "hints":  [

                                                                                                 ],
                                                                                       "executionTime":  896,
                                                                                       "executionStatus":  "success",
                                                                                       "data":  {
                                                                                                    "main":  [
                                                                                                                 [
                                                                                                                     {
                                                                                                                         "json":  {
                                                                                                                                      "http_code":  200,
                                                                                                                                      "response_code":  "SUCCESS",
                                                                                                                                      "response_msg":  "Messages queued for delivery.",
                                                                                                                                      "data":  "@{total_price=0.0428; total_count=1; queued_count=1; messages=System.Object[]; _currency=; blocked_count=0}"
                                                                                                                                  },
                                                                                                                         "pairedItem":  {
                                                                                                                                            "item":  0
                                                                                                                                        }
                                                                                                                     }
                                                                                                                 ]
                                                                                                             ]
                                                                                                }
                                                                                   }
                                                                               ],
                                                    "Update Airtable SMS Sent":  [
                                                                                     {
                                                                                         "startTime":  1777100738766,
                                                                                         "executionIndex":  5,
                                                                                         "source":  [
                                                                                                        {
                                                                                                            "previousNode":  "ClickSend Customer SMS",
                                                                                                            "previousNodeOutput":  0,
                                                                                                            "previousNodeRun":  0
                                                                                                        }
                                                                                                    ],
                                                                                         "hints":  [

                                                                                                   ],
                                                                                         "executionTime":  9,
                                                                                         "executionStatus":  "error",
                                                                                         "error":  {
                                                                                                       "level":  "error",
                                                                                                       "tags":  {

                                                                                                                },
                                                                                                       "extra":  {
                                                                                                                     "parameterName":  "columns.matchingColumns"
                                                                                                                 },
                                                                                                       "message":  "Could not get parameter",
                                                                                                       "stack":  "Error: Could not get parameter\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:477:10)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:136:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Airtable/v2/actions/record/update.operation.ts:64:32)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Airtable/v2/actions/router.ts:32:67)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Airtable/v2/AirtableV2.node.ts:30:23)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1048:32)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1239:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1687:38\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2339:11"
                                                                                                   }
                                                                                     }
                                                                                 ]
                                                },
                                    "lastNodeExecuted":  "Update Airtable SMS Sent"
                                },
                 "executionData":  {
                                       "contextData":  {

                                                       },
                                       "nodeExecutionStack":  [
                                                                  {
                                                                      "node":  {
                                                                                   "parameters":  {
                                                                                                      "authentication":  "airtableTokenApi",
                                                                                                      "resource":  "record",
                                                                                                      "operation":  "update",
                                                                                                      "base":  {
                                                                                                                   "__rl":  true,
                                                                                                                   "value":  "appzmLNDAsk6m06Ae",
                                                                                                                   "mode":  "id",
                                                                                                                   "__alias":  "Airport Transfers Liverpool"
                                                                                                               },
                                                                                                      "table":  {
                                                                                                                    "__rl":  true,
                                                                                                                    "value":  "tblAIQuXsh9MPtsSC",
                                                                                                                    "mode":  "id",
                                                                                                                    "__alias":  "Bookings"
                                                                                                                },
                                                                                                      "columns":  {
                                                                                                                      "mappingMode":  "defineBelow",
                                                                                                                      "value":  {
                                                                                                                                    "Initial SMS Sent":  true
                                                                                                                                }
                                                                                                                  },
                                                                                                      "options":  {

                                                                                                                  }
                                                                                                  },
                                                                                   "id":  "airtable-update-sms-node",
                                                                                   "name":  "Update Airtable SMS Sent",
                                                                                   "type":  "n8n-nodes-base.airtable",
                                                                                   "typeVersion":  2,
                                                                                   "position":  [
                                                                                                    840,
                                                                                                    100
                                                                                                ],
                                                                                   "credentials":  {
                                                                                                       "airtableTokenApi":  {
                                                                                                                                "id":  "PAYJ8atu75xLv55R",
                                                                                                                                "name":  "Airtable PAT"
                                                                                                                            }
                                                                                                   }
                                                                               },
                                                                      "data":  {
                                                                                   "main":  [
                                                                                                [
                                                                                                    {
                                                                                                        "json":  {
                                                                                                                     "http_code":  200,
                                                                                                                     "response_code":  "SUCCESS",
                                                                                                                     "response_msg":  "Messages queued for delivery.",
                                                                                                                     "data":  {
                                                                                                                                  "total_price":  0.0428,
                                                                                                                                  "total_count":  1,
                                                                                                                                  "queued_count":  1,
                                                                                                                                  "messages":  "",
                                                                                                                                  "_currency":  "@{currency_name_short=GBP; currency_prefix_d=£; currency_prefix_c=p; currency_name_long=British Pounds}",
                                                                                                                                  "blocked_count":  0
                                                                                                                              }
                                                                                                                 },
                                                                                                        "pairedItem":  {
                                                                                                                           "item":  0
                                                                                                                       }
                                                                                                    }
                                                                                                ]
                                                                                            ]
                                                                               },
                                                                      "source":  {
                                                                                     "main":  [
                                                                                                  {
                                                                                                      "previousNode":  "ClickSend Customer SMS",
                                                                                                      "previousNodeOutput":  0,
                                                                                                      "previousNodeRun":  0
                                                                                                  }
                                                                                              ]
                                                                                 }
                                                                  }
                                                              ],
                                       "metadata":  {

                                                    },
                                       "waitingExecution":  {

                                                            },
                                       "waitingExecutionSource":  {

                                                                  },
                                       "runtimeData":  {
                                                           "version":  1,
                                                           "establishedAt":  1777100736212,
                                                           "source":  "webhook",
                                                           "redaction":  {
                                                                             "version":  1,
                                                                             "policy":  "none"
                                                                         },
                                                           "triggerNode":  {
                                                                               "name":  "Webhook",
                                                                               "type":  "n8n-nodes-base.webhook"
                                                                           }
                                                       }
                                   },
                 "resumeToken":  "f04287e27d55e22dd83afcdf04ad59dbd33e58f8c8cfd03464ee2887e62a6515"
             },
    "workflowData":  {
                         "id":  "E0sHFHX850tQffIk",
                         "name":  "Airport Transfers Liverpool",
                         "active":  true,
                         "activeVersionId":  "de9c71e8-a8f6-4045-b71d-95b23de6bed6",
                         "isArchived":  false,
                         "createdAt":  "2026-04-24T17:09:30.773Z",
                         "updatedAt":  "2026-04-25T07:00:36.518Z",
                         "nodes":  [
                                       {
                                           "parameters":  {
                                                              "multipleMethods":  false,
                                                              "httpMethod":  "POST",
                                                              "path":  "3c702483-e68c-428a-8c2c-429cbdf61668",
                                                              "authentication":  "none",
                                                              "responseMode":  "onReceived",
                                                              "contentTypeNotice":  "",
                                                              "options":  {

                                                                          }
                                                          },
                                           "type":  "n8n-nodes-base.webhook",
                                           "typeVersion":  2.1,
                                           "position":  [
                                                            0,
                                                            0
                                                        ],
                                           "id":  "4fa55b83-a311-4fca-a0dc-e946c5baea7a",
                                           "name":  "Webhook",
                                           "webhookId":  "3c702483-e68c-428a-8c2c-429cbdf61668"
                                       },
                                       {
                                           "parameters":  {
                                                              "mode":  "manual",
                                                              "duplicateItem":  false,
                                                              "assignments":  {
                                                                                  "assignments":  [
                                                                                                      {
                                                                                                          "id":  "1",
                                                                                                          "name":  "Booking Ref",
                                                                                                          "value":  "={{ $json.body.ref }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "2",
                                                                                                          "name":  "Submitted At",
                                                                                                          "value":  "={{ $json.body.submittedAt }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "3",
                                                                                                          "name":  "Trip Type",
                                                                                                          "value":  "={{ $json.body.tripType }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "4",
                                                                                                          "name":  "Oneway Direction",
                                                                                                          "value":  "={{ $json.body.onewayDir }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "5",
                                                                                                          "name":  "Airport",
                                                                                                          "value":  "={{ $json.body.airport }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "6",
                                                                                                          "name":  "Passengers",
                                                                                                          "value":  "={{ $json.body.passengers }}",
                                                                                                          "type":  "number"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "7",
                                                                                                          "name":  "Luggage",
                                                                                                          "value":  "={{ $json.body.luggage }}",
                                                                                                          "type":  "number"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "8",
                                                                                                          "name":  "Total Price",
                                                                                                          "value":  "={{ $json.body.priceGBP }}",
                                                                                                          "type":  "number"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "9",
                                                                                                          "name":  "Customer Name",
                                                                                                          "value":  "={{ $json.body.customer?.name }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "10",
                                                                                                          "name":  "Customer Phone",
                                                                                                          "value":  "={{ $json.body.customer?.phone }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "11",
                                                                                                          "name":  "Customer Email",
                                                                                                          "value":  "={{ $json.body.customer?.email }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "12",
                                                                                                          "name":  "Home Address",
                                                                                                          "value":  "={{ $json.body.customer?.address }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "13",
                                                                                                          "name":  "Outbound Date",
                                                                                                          "value":  "={{ $json.body.outbound?.date }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "14",
                                                                                                          "name":  "Outbound Time",
                                                                                                          "value":  "={{ $json.body.outbound?.time }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "15",
                                                                                                          "name":  "Outbound Flight",
                                                                                                          "value":  "={{ $json.body.outbound?.flight }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "16",
                                                                                                          "name":  "Return Date",
                                                                                                          "value":  "={{ $json.body.return?.date }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "17",
                                                                                                          "name":  "Return Time",
                                                                                                          "value":  "={{ $json.body.return?.time }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "18",
                                                                                                          "name":  "Return Flight",
                                                                                                          "value":  "={{ $json.body.return?.flight }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "19",
                                                                                                          "name":  "Notes",
                                                                                                          "value":  "={{ $json.body.notes }}",
                                                                                                          "type":  "string"
                                                                                                      },
                                                                                                      {
                                                                                                          "id":  "20",
                                                                                                          "name":  "Page URL",
                                                                                                          "value":  "={{ $json.body.pageUrl }}",
                                                                                                          "type":  "string"
                                                                                                      }
                                                                                                  ]
                                                                              },
                                                              "includeOtherFields":  false,
                                                              "options":  {

                                                                          }
                                                          },
                                           "type":  "n8n-nodes-base.set",
                                           "typeVersion":  3.4,
                                           "position":  [
                                                            208,
                                                            0
                                                        ],
                                           "id":  "8f91c6b9-8138-45c4-b6da-643ff8a5a0ea",
                                           "name":  "Edit Fields"
                                       },
                                       {
                                           "parameters":  {
                                                              "authentication":  "airtableTokenApi",
                                                              "resource":  "record",
                                                              "operation":  "create",
                                                              "base":  {
                                                                           "__rl":  true,
                                                                           "value":  "appzmLNDAsk6m06Ae",
                                                                           "mode":  "id",
                                                                           "__alias":  "Airport Transfers Liverpool"
                                                                       },
                                                              "table":  {
                                                                            "__rl":  true,
                                                                            "value":  "tblAIQuXsh9MPtsSC",
                                                                            "mode":  "id",
                                                                            "__alias":  "Bookings"
                                                                        },
                                                              "columns":  {
                                                                              "mappingMode":  "defineBelow",
                                                                              "value":  {
                                                                                            "Booking Ref":  "={{ $json[\"Booking Ref\"] }}",
                                                                                            "Submitted At":  "={{ $json[\"Submitted At\"] }}",
                                                                                            "Trip Type":  "={{ $json[\"Trip Type\"] }}",
                                                                                            "Oneway Direction":  "={{ $json[\"Oneway Direction\"] }}",
                                                                                            "Airport":  "={{ $json[\"Airport\"] }}",
                                                                                            "Passengers":  "={{ $json[\"Passengers\"] }}",
                                                                                            "Luggage":  "={{ $json[\"Luggage\"] }}",
                                                                                            "Total Price":  "={{ $json[\"Total Price\"] }}",
                                                                                            "Customer Name":  "={{ $json[\"Customer Name\"] }}",
                                                                                            "Customer Phone":  "={{ $json[\"Customer Phone\"] }}",
                                                                                            "Customer Email":  "={{ $json[\"Customer Email\"] }}",
                                                                                            "Home Address":  "={{ $json[\"Home Address\"] }}",
                                                                                            "Outbound Date":  "={{ $json[\"Outbound Date\"] }}",
                                                                                            "Outbound Time":  "={{ $json[\"Outbound Time\"] }}",
                                                                                            "Outbound Flight":  "={{ $json[\"Outbound Flight\"] }}",
                                                                                            "Return Date":  "={{ $json[\"Return Date\"] }}",
                                                                                            "Return Time":  "={{ $json[\"Return Time\"] }}",
                                                                                            "Return Flight":  "={{ $json[\"Return Flight\"] }}",
                                                                                            "Notes":  "={{ $json[\"Notes\"] }}",
                                                                                            "Page URL":  "={{ $json[\"Page URL\"] }}"
                                                                                        }
                                                                          },
                                                              "options":  {

                                                                          }
                                                          },
                                           "id":  "e67b2d5d-c692-4d0f-a316-9dc9bb1bc75d",
                                           "name":  "Airtable",
                                           "type":  "n8n-nodes-base.airtable",
                                           "typeVersion":  2,
                                           "position":  [
                                                            432,
                                                            0
                                                        ],
                                           "credentials":  {
                                                               "airtableTokenApi":  {
                                                                                        "id":  "PAYJ8atu75xLv55R",
                                                                                        "name":  "Airtable PAT"
                                                                                    }
                                                           }
                                       },
                                       {
                                           "parameters":  {
                                                              "curlImport":  "",
                                                              "method":  "POST",
                                                              "url":  "https://rest.clicksend.com/v3/sms/send",
                                                              "authentication":  "none",
                                                              "provideSslCertificates":  false,
                                                              "sendQuery":  false,
                                                              "sendHeaders":  true,
                                                              "specifyHeaders":  "keypair",
                                                              "headerParameters":  {
                                                                                       "parameters":  [
                                                                                                          {
                                                                                                              "name":  "Authorization",
                                                                                                              "value":  "Basic Z3JhaGFtLm0uMjIyQGdtYWlsLmNvbTo2MzREMTAyQi0zMDRFLUI0QTUtQUQzQS1COTRFNDk1QjQ1OEM="
                                                                                                          },
                                                                                                          {
                                                                                                              "name":  "Content-Type",
                                                                                                              "value":  "application/json"
                                                                                                          }
                                                                                                      ]
                                                                                   },
                                                              "sendBody":  true,
                                                              "contentType":  "json",
                                                              "specifyBody":  "json",
                                                              "jsonBody":  "={{ { \"messages\": [ { \"to\": \"+447398233859\", \"body\": \"New Booking Received! Ref: \" + $json.fields[\u0027Booking Ref\u0027] } ] } }}",
                                                              "options":  {

                                                                          },
                                                              "infoMessage":  ""
                                                          },
                                           "id":  "clicksend-operator-node",
                                           "name":  "ClickSend Operator SMS",
                                           "type":  "n8n-nodes-base.httpRequest",
                                           "typeVersion":  4.1,
                                           "position":  [
                                                            640,
                                                            -100
                                                        ]
                                       },
                                       {
                                           "parameters":  {
                                                              "curlImport":  "",
                                                              "method":  "POST",
                                                              "url":  "https://rest.clicksend.com/v3/sms/send",
                                                              "authentication":  "none",
                                                              "provideSslCertificates":  false,
                                                              "sendQuery":  false,
                                                              "sendHeaders":  true,
                                                              "specifyHeaders":  "keypair",
                                                              "headerParameters":  {
                                                                                       "parameters":  [
                                                                                                          {
                                                                                                              "name":  "Authorization",
                                                                                                              "value":  "Basic Z3JhaGFtLm0uMjIyQGdtYWlsLmNvbTo2MzREMTAyQi0zMDRFLUI0QTUtQUQzQS1COTRFNDk1QjQ1OEM="
                                                                                                          },
                                                                                                          {
                                                                                                              "name":  "Content-Type",
                                                                                                              "value":  "application/json"
                                                                                                          }
                                                                                                      ]
                                                                                   },
                                                              "sendBody":  true,
                                                              "contentType":  "json",
                                                              "specifyBody":  "json",
                                                              "jsonBody":  "={{ { \"messages\": [ { \"to\": $json.fields[\u0027Customer Phone\u0027], \"body\": \"Hi \" + $json.fields[\u0027Customer Name\u0027] + \", your Airport Transfers Liverpool booking (Ref: \" + $json.fields[\u0027Booking Ref\u0027] + \") has been received! We will be in touch shortly to confirm.\" } ] } }}",
                                                              "options":  {

                                                                          },
                                                              "infoMessage":  ""
                                                          },
                                           "id":  "clicksend-customer-node",
                                           "name":  "ClickSend Customer SMS",
                                           "type":  "n8n-nodes-base.httpRequest",
                                           "typeVersion":  4.1,
                                           "position":  [
                                                            640,
                                                            100
                                                        ]
                                       },
                                       {
                                           "parameters":  {
                                                              "authentication":  "airtableTokenApi",
                                                              "resource":  "record",
                                                              "operation":  "update",
                                                              "base":  {
                                                                           "__rl":  true,
                                                                           "value":  "appzmLNDAsk6m06Ae",
                                                                           "mode":  "id",
                                                                           "__alias":  "Airport Transfers Liverpool"
                                                                       },
                                                              "table":  {
                                                                            "__rl":  true,
                                                                            "value":  "tblAIQuXsh9MPtsSC",
                                                                            "mode":  "id",
                                                                            "__alias":  "Bookings"
                                                                        },
                                                              "columns":  {
                                                                              "mappingMode":  "defineBelow",
                                                                              "value":  {
                                                                                            "Initial SMS Sent":  true
                                                                                        }
                                                                          },
                                                              "options":  {

                                                                          }
                                                          },
                                           "id":  "airtable-update-sms-node",
                                           "name":  "Update Airtable SMS Sent",
                                           "type":  "n8n-nodes-base.airtable",
                                           "typeVersion":  2,
                                           "position":  [
                                                            840,
                                                            100
                                                        ],
                                           "credentials":  {
                                                               "airtableTokenApi":  {
                                                                                        "id":  "PAYJ8atu75xLv55R",
                                                                                        "name":  "Airtable PAT"
                                                                                    }
                                                           }
                                       }
                                   ],
                         "connections":  {
                                             "Webhook":  {
                                                             "main":  [
                                                                          [
                                                                              {
                                                                                  "node":  "Edit Fields",
                                                                                  "type":  "main",
                                                                                  "index":  0
                                                                              }
                                                                          ]
                                                                      ]
                                                         },
                                             "Edit Fields":  {
                                                                 "main":  [
                                                                              [
                                                                                  {
                                                                                      "node":  "Airtable",
                                                                                      "type":  "main",
                                                                                      "index":  0
                                                                                  }
                                                                              ]
                                                                          ]
                                                             },
                                             "Airtable":  {
                                                              "main":  [
                                                                           [
                                                                               {
                                                                                   "node":  "ClickSend Operator SMS",
                                                                                   "type":  "main",
                                                                                   "index":  0
                                                                               },
                                                                               {
                                                                                   "node":  "ClickSend Customer SMS",
                                                                                   "type":  "main",
                                                                                   "index":  0
                                                                               }
                                                                           ]
                                                                       ]
                                                          },
                                             "ClickSend Customer SMS":  {
                                                                            "main":  [
                                                                                         [
                                                                                             {
                                                                                                 "node":  "Update Airtable SMS Sent",
                                                                                                 "type":  "main",
                                                                                                 "index":  0
                                                                                             }
                                                                                         ]
                                                                                     ]
                                                                        }
                                         },
                         "settings":  {
                                          "executionOrder":  "v1",
                                          "binaryMode":  "separate"
                                      },
                         "staticData":  {

                                        },
                         "pinData":  {
                                         "Webhook":  [
                                                         {
                                                             "json":  {
                                                                          "headers":  {
                                                                                          "host":  "gmac222.app.n8n.cloud",
                                                                                          "user-agent":  "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36",
                                                                                          "content-length":  "484",
                                                                                          "accept":  "*/*",
                                                                                          "accept-encoding":  "gzip, br",
                                                                                          "accept-language":  "en-GB,en-US;q=0.9,en;q=0.8",
                                                                                          "cdn-loop":  "cloudflare; loops=1; subreqs=1",
                                                                                          "cf-connecting-ip":  "86.171.167.44",
                                                                                          "cf-ew-via":  "15",
                                                                                          "cf-ipcountry":  "GB",
                                                                                          "cf-ray":  "9f17313f3e17a17a-LHR",
                                                                                          "cf-visitor":  "{\"scheme\":\"https\"}",
                                                                                          "cf-worker":  "n8n.cloud",
                                                                                          "content-type":  "application/json",
                                                                                          "origin":  "http://127.0.0.1:8080",
                                                                                          "priority":  "u=1, i",
                                                                                          "referer":  "http://127.0.0.1:8080/",
                                                                                          "sec-ch-ua":  "\"Google Chrome\";v=\"147\", \"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"147\"",
                                                                                          "sec-ch-ua-mobile":  "?0",
                                                                                          "sec-ch-ua-platform":  "\"Windows\"",
                                                                                          "sec-fetch-dest":  "empty",
                                                                                          "sec-fetch-mode":  "cors",
                                                                                          "sec-fetch-site":  "cross-site",
                                                                                          "x-forwarded-for":  "86.171.167.44, 172.64.192.45",
                                                                                          "x-forwarded-host":  "gmac222.app.n8n.cloud",
                                                                                          "x-forwarded-port":  "443",
                                                                                          "x-forwarded-proto":  "https",
                                                                                          "x-forwarded-server":  "traefik-prod-users-gwc-123-57df655446-ldmhk",
                                                                                          "x-is-trusted":  "yes",
                                                                                          "x-real-ip":  "86.171.167.44"
                                                                                      },
                                                                          "params":  {

                                                                                     },
                                                                          "query":  {

                                                                                    },
                                                                          "body":  {
                                                                                       "ref":  "ATL-236858",
                                                                                       "submittedAt":  "2026-04-24T18:32:44.825Z",
                                                                                       "tripType":  "oneway",
                                                                                       "onewayDir":  "to",
                                                                                       "airport":  "LJLA",
                                                                                       "airportName":  "Liverpool John Lennon",
                                                                                       "passengers":  3,
                                                                                       "luggage":  3,
                                                                                       "priceGBP":  65,
                                                                                       "legPriceGBP":  65,
                                                                                       "customer":  {
                                                                                                        "name":  "Demo Video User",
                                                                                                        "phone":  "07123456789",
                                                                                                        "email":  "demo@example.com",
                                                                                                        "address":  "99 Demo Street"
                                                                                                    },
                                                                                       "outbound":  {
                                                                                                        "date":  "2026-07-01",
                                                                                                        "time":  "10:00",
                                                                                                        "flight":  "DEMO123"
                                                                                                    },
                                                                                       "return":  null,
                                                                                       "notes":  "Live demonstration booking!",
                                                                                       "pageUrl":  "http://127.0.0.1:8080/#book"
                                                                                   },
                                                                          "webhookUrl":  "https://gmac222.app.n8n.cloud/webhook/3c702483-e68c-428a-8c2c-429cbdf61668",
                                                                          "executionMode":  "production"
                                                                      },
                                                             "pairedItem":  {
                                                                                "item":  0
                                                                            }
                                                         }
                                                     ],
                                         "Twilio SMS":  [
                                                            {
                                                                "json":  {
                                                                             "id":  "recsPpledWwVS7Ttn",
                                                                             "createdTime":  "2026-04-24T18:32:45.000Z",
                                                                             "fields":  {
                                                                                            "Booking Ref":  "ATL-236858",
                                                                                            "Submitted At":  "2026-04-24T18:32:44.825Z",
                                                                                            "Trip Type":  "oneway",
                                                                                            "Oneway Direction":  "to",
                                                                                            "Airport":  "LJLA",
                                                                                            "Passengers":  3,
                                                                                            "Luggage":  3,
                                                                                            "Total Price":  65,
                                                                                            "Customer Name":  "Demo Video User",
                                                                                            "Customer Phone":  "07123456789",
                                                                                            "Customer Email":  "demo@example.com",
                                                                                            "Home Address":  "99 Demo Street",
                                                                                            "Outbound Date":  "2026-07-01",
                                                                                            "Outbound Time":  "10:00",
                                                                                            "Outbound Flight":  "DEMO123",
                                                                                            "Notes":  "Live demonstration booking!",
                                                                                            "Page URL":  "http://127.0.0.1:8080/#book"
                                                                                        }
                                                                         }
                                                            }
                                                        ]
                                     }
                     },
    "workflowVersionId":  "de9c71e8-a8f6-4045-b71d-95b23de6bed6",
    "customData":  {

                   }
}
