execution_48.json
{"id":"48","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-04-24T18:26:55.292Z","startedAt":"2026-04-24T18:26:55.381Z","stoppedAt":"2026-04-24T18:26:55.983Z","deletedAt":null,"workflowId":"E0sHFHX850tQffIk","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","tags":{},"description":"Could not find field \"fields\" in the request body","timestamp":1777055215982,"context":{"itemIndex":0},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"authentication":"airtableTokenApi","resource":"record","operation":"create","base":{"__rl":true,"value":"appzmLNDAsk6m06Ae","mode":"id","__alias":"Airport Transfers Liverpool"},"table":{"__rl":true,"value":"tblAIQuXsh9MPtsSC","mode":"id","__alias":"Bookings"},"columns":{"mappingMode":"mapAutomatically","value":{}},"options":{}},"id":"e67b2d5d-c692-4d0f-a316-9dc9bb1bc75d","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[420,0],"credentials":{"airtableTokenApi":{"id":"PAYJ8atu75xLv55R","name":"Airtable PAT"}}},"messages":["422 - {\"error\":{\"type\":\"INVALID_REQUEST_MISSING_FIELDS\",\"message\":\"Could not find field \\\"fields\\\" in the request body\"}}"],"httpCode":"422","message":"Your request is invalid or could not be processed by the service","stack":"NodeApiError: Your request is invalid or could not be processed by the service\n    at ExecuteContext.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1303:10)\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at ExecuteContext.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1629:11)\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Airtable/v2/transport/index.ts:50:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Airtable/v2/actions/record/create.operation.ts:82:25)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Airtable/v2/actions/router.ts:32:18)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Airtable/v2/AirtableV2.node.ts:30:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1048:9)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1239:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1687:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2339:11"},"runData":{"Webhook":[{"startTime":1777055215410,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"gmac222.app.n8n.cloud","content-length":"436","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"86.171.167.44","cf-ew-via":"15","cf-ipcountry":"GB","cf-ray":"9f1728b76dc163ef-LHR","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","x-forwarded-for":"86.171.167.44, 172.69.43.169","x-forwarded-host":"gmac222.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-123-57df655446-qpq6p","x-is-trusted":"yes","x-real-ip":"86.171.167.44"},"params":{},"query":{},"body":{"ref":"TEST-12345","submittedAt":"2026-04-24T18:26:55.535Z","tripType":"oneway","onewayDir":"to","airport":"LJLA","passengers":2,"luggage":2,"priceGBP":45,"customer":{"name":"John Smith","phone":"07700900123","email":"john.smith@example.com","address":"123 Fake Street, Liverpool, L1 1AA"},"outbound":{"date":"2026-05-15","time":"14:30","flight":"EZY123"},"notes":"Test booking from n8n script","pageUrl":"https://example.com/booking"},"webhookUrl":"https://gmac222.app.n8n.cloud/webhook/3c702483-e68c-428a-8c2c-429cbdf61668","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Edit Fields":[{"startTime":1777055215410,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"Booking Ref":"TEST-12345","Submitted At":"2026-04-24T18:26:55.535Z","Trip Type":"oneway","Oneway Direction":"to","Airport":"LJLA","Passengers":2,"Luggage":2,"Total Price":45,"Customer Name":"John Smith","Customer Phone":"07700900123","Customer Email":"john.smith@example.com","Home Address":"123 Fake Street, Liverpool, L1 1AA","Outbound Date":"2026-05-15","Outbound Time":"14:30","Outbound Flight":"EZY123","Return Date":null,"Return Time":null,"Return Flight":null,"Notes":"Test booking from n8n script","Page URL":"https://example.com/booking"},"pairedItem":{"item":0}}]]}}],"Airtable":[{"startTime":1777055215415,"executionIndex":2,"source":[{"previousNode":"Edit Fields","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":567,"executionStatus":"error","error":{"level":"warning","tags":{},"description":"Could not find field \"fields\" in the request body","timestamp":1777055215982,"context":{"itemIndex":0},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"authentication":"airtableTokenApi","resource":"record","operation":"create","base":{"__rl":true,"value":"appzmLNDAsk6m06Ae","mode":"id","__alias":"Airport Transfers Liverpool"},"table":{"__rl":true,"value":"tblAIQuXsh9MPtsSC","mode":"id","__alias":"Bookings"},"columns":{"mappingMode":"mapAutomatically","value":{}},"options":{}},"id":"e67b2d5d-c692-4d0f-a316-9dc9bb1bc75d","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[420,0],"credentials":{"airtableTokenApi":{"id":"PAYJ8atu75xLv55R","name":"Airtable PAT"}}},"messages":["422 - {\"error\":{\"type\":\"INVALID_REQUEST_MISSING_FIELDS\",\"message\":\"Could not find field \\\"fields\\\" in the request body\"}}"],"httpCode":"422","message":"Your request is invalid or could not be processed by the service","stack":"NodeApiError: Your request is invalid or could not be processed by the service\n    at ExecuteContext.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1303:10)\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at ExecuteContext.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1629:11)\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Airtable/v2/transport/index.ts:50:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Airtable/v2/actions/record/create.operation.ts:82:25)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Airtable/v2/actions/router.ts:32:18)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Airtable/v2/AirtableV2.node.ts:30:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1048:9)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1239:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1687:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2339:11"}}]},"lastNodeExecuted":"Airtable"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"authentication":"airtableTokenApi","resource":"record","operation":"create","base":{"__rl":true,"value":"appzmLNDAsk6m06Ae","mode":"id","__alias":"Airport Transfers Liverpool"},"table":{"__rl":true,"value":"tblAIQuXsh9MPtsSC","mode":"id","__alias":"Bookings"},"columns":{"mappingMode":"mapAutomatically","value":{}},"options":{}},"id":"e67b2d5d-c692-4d0f-a316-9dc9bb1bc75d","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[420,0],"credentials":{"airtableTokenApi":{"id":"PAYJ8atu75xLv55R","name":"Airtable PAT"}}},"data":{"main":[[{"json":{"Booking Ref":"TEST-12345","Submitted At":"2026-04-24T18:26:55.535Z","Trip Type":"oneway","Oneway Direction":"to","Airport":"LJLA","Passengers":2,"Luggage":2,"Total Price":45,"Customer Name":"John Smith","Customer Phone":"07700900123","Customer Email":"john.smith@example.com","Home Address":"123 Fake Street, Liverpool, L1 1AA","Outbound Date":"2026-05-15","Outbound Time":"14:30","Outbound Flight":"EZY123","Return Date":null,"Return Time":null,"Return Flight":null,"Notes":"Test booking from n8n script","Page URL":"https://example.com/booking"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Edit Fields","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1777055215409,"source":"webhook","redaction":{"version":1,"policy":"none"},"triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}},"resumeToken":"98fdf24425478a91e3a970e306a5939b0678a89ac6b70c254d40808f900a82ee"},"workflowData":{"id":"E0sHFHX850tQffIk","name":"Airport Transfers Liverpool","active":true,"activeVersionId":"0c6f2d27-54d7-4bfd-b9a3-75b4328db7b4","isArchived":false,"createdAt":"2026-04-24T17:09:30.773Z","updatedAt":"2026-04-24T18:25:48.872Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"3c702483-e68c-428a-8c2c-429cbdf61668","authentication":"none","responseMode":"onReceived","contentTypeNotice":"","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"4fa55b83-a311-4fca-a0dc-e946c5baea7a","name":"Webhook","webhookId":"3c702483-e68c-428a-8c2c-429cbdf61668"},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"1","name":"Booking Ref","value":"={{ $json.body.ref }}","type":"string"},{"id":"2","name":"Submitted At","value":"={{ $json.body.submittedAt }}","type":"string"},{"id":"3","name":"Trip Type","value":"={{ $json.body.tripType }}","type":"string"},{"id":"4","name":"Oneway Direction","value":"={{ $json.body.onewayDir }}","type":"string"},{"id":"5","name":"Airport","value":"={{ $json.body.airport }}","type":"string"},{"id":"6","name":"Passengers","value":"={{ $json.body.passengers }}","type":"number"},{"id":"7","name":"Luggage","value":"={{ $json.body.luggage }}","type":"number"},{"id":"8","name":"Total Price","value":"={{ $json.body.priceGBP }}","type":"number"},{"id":"9","name":"Customer Name","value":"={{ $json.body.customer?.name }}","type":"string"},{"id":"10","name":"Customer Phone","value":"={{ $json.body.customer?.phone }}","type":"string"},{"id":"11","name":"Customer Email","value":"={{ $json.body.customer?.email }}","type":"string"},{"id":"12","name":"Home Address","value":"={{ $json.body.customer?.address }}","type":"string"},{"id":"13","name":"Outbound Date","value":"={{ $json.body.outbound?.date }}","type":"string"},{"id":"14","name":"Outbound Time","value":"={{ $json.body.outbound?.time }}","type":"string"},{"id":"15","name":"Outbound Flight","value":"={{ $json.body.outbound?.flight }}","type":"string"},{"id":"16","name":"Return Date","value":"={{ $json.body.return?.date }}","type":"string"},{"id":"17","name":"Return Time","value":"={{ $json.body.return?.time }}","type":"string"},{"id":"18","name":"Return Flight","value":"={{ $json.body.return?.flight }}","type":"string"},{"id":"19","name":"Notes","value":"={{ $json.body.notes }}","type":"string"},{"id":"20","name":"Page URL","value":"={{ $json.body.pageUrl }}","type":"string"}]},"includeOtherFields":false,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"8f91c6b9-8138-45c4-b6da-643ff8a5a0ea","name":"Edit Fields"},{"parameters":{"authentication":"airtableTokenApi","resource":"record","operation":"create","base":{"__rl":true,"value":"appzmLNDAsk6m06Ae","mode":"id","__alias":"Airport Transfers Liverpool"},"table":{"__rl":true,"value":"tblAIQuXsh9MPtsSC","mode":"id","__alias":"Bookings"},"columns":{"mappingMode":"mapAutomatically","value":{}},"options":{}},"id":"e67b2d5d-c692-4d0f-a316-9dc9bb1bc75d","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[420,0],"credentials":{"airtableTokenApi":{"id":"PAYJ8atu75xLv55R","name":"Airtable PAT"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Airtable","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{},"pinData":{}},"workflowVersionId":"0c6f2d27-54d7-4bfd-b9a3-75b4328db7b4","customData":{}}